@model IEnumerable<test.Models.Claim>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idClaim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.descriptionClaim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateClaim)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idDecision)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.idCommande)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.idClaim)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.descriptionClaim)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.dateClaim)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.idCommande)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.idDecision)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
    </td>
</tr>
}

</table>
