@model ConsumeWebServices.Models.User

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Login.cshtml";
}
<h2>Sign Up</h2>

@using (Html.BeginForm("signup", "User", FormMethod.Post))
{
    @Html.HiddenFor(model => model.idUser)//tesma3 fiya ?? aloooooleeee !!!

    <div class="wrap-input100 validate-input" data-validate="Password is required">
        @Html.EditorFor(model => model.FirstName)

        @Html.LabelFor(model => model.FirstName, new { @style = "margin-left:-98px; margin-top:1px;" })
        @Html.ValidationMessageFor(model => model.FirstName)
    </div>

    <div class="wrap-input100 validate-input" data-validate="Password is required">
        @Html.EditorFor(model => model.LastName)

        @Html.LabelFor(model => model.LastName, new { @style = "margin-left:-98px; margin-top:1px;" })
        @Html.ValidationMessageFor(model => model.LastName)
    </div>

    <div class="wrap-input100 validate-input" data-validate="Password is required">
        @Html.EditorFor(model => model.TelNum)

        @Html.LabelFor(model => model.TelNum, new { @style = "margin-left:-100px; margin-top:1px;" })
        @Html.ValidationMessageFor(model => model.TelNum)
    </div>

    <div class="wrap-input100 validate-input" data-validate="Password is required">
        @Html.EditorFor(model => model.Address)

        @Html.LabelFor(model => model.Address, new { @style = "margin-left:-98px; margin-top:1px;" })
        @Html.ValidationMessageFor(model => model.Address)
    </div>
    <div class="wrap-input100 validate-input" data-validate="Password is required">
        @Html.EditorFor(model => model.Mail)

        @Html.LabelFor(model => model.Mail, new { @style = "margin-left:-110px; margin-top:1px;" })
        @Html.ValidationMessageFor(model => model.Mail)
    </div>
    <div class="wrap-input100 validate-input" data-validate="Password is required">
        @Html.EditorFor(model => model.Login)

        @Html.LabelFor(model => model.Login, new { @style = "margin-left:-110px; margin-top:1px;" })
        @Html.ValidationMessageFor(model => model.Login)
    </div>

    <div class="wrap-input100 validate-input" data-validate="Password is required">
        @Html.EditorFor(model => model.Password)
        @Html.LabelFor(model => model.Password, new { @style = "margin-left:-98px; margin-top:1px;" })
        @Html.ValidationMessageFor(model => model.Password)
    </div>

    <div class="wrap-input100 validate-input" data-validate="Password is required">
        @Html.EditorFor(model => model.RoleType)
        @Html.LabelFor(model => model.RoleType, new { @style = "margin-left:-98px; margin-top:1px;" })
        @Html.ValidationMessageFor(model => model.RoleType)
    </div>

    <form action="@Url.Action("Login", "Login")">
        <button type="submit" class="submit" />sign in
    </form>
}

@section something {

    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model => model.idUser)

        <div class="wrap-input100 validate-input" data-validate="Password is required">
            <input class="text-box single-line" id="username" name="username" type="text" value="">


            @Html.LabelFor(model => model.Login, new { @style = "margin-left:-98px; margin-top:1px;", name = "username" })
            @Html.ValidationMessageFor(model => model.Login)
        </div>

        <div class="wrap-input100 validate-input" data-validate="Password is required">
            @Html.EditorFor(model => model.Password)

            @Html.LabelFor(model => model.Password, new { @style = "margin-left:-98px; margin-top:1px;" })
            @Html.ValidationMessageFor(model => model.Password)
        </div>


        <form action="@Url.Action("Login", "Login")">
            <button type="submit" class="submit" />sign in
        </form>
        <form action="@Url.Action("ForgotPassword", "Login")">
            <button type="submit" class="submit" />Forgot Password ?
        </form>

        <p class="forgot-pass">Forgot Password ?</p> 
        <div class="social-media">
            <ul>
                <li><img src="~/ClientStyle/login_register/images/facebook.png"></li>
                <li><img src="~/ClientStyle/login_register/images/twitter.png"></li>
                <li><img src="~/ClientStyle/login_register/images/linkedin.png"></li>
                <li><img src="~/ClientStyle/login_register/images/instagram.png"></li>
            </ul>
        </div>
    }


    @*
         @section something{
         <div class="login-container">
             <div id="output">
                 @if (TempData["loginError"] != null)
                 {
                     <div class="alert alert-warning" role="alert">
                         @TempData["loginError"]
                     </div>
                 }
             </div>
             <div class="avatar"></div>
             <div class="form-box">
                 <form action="/Login/Login" method="post">
                     <input name="username" type="text" placeholder="username" style="margin-left:-98px; margin-top:1px;">

                     <input name="password" type="password" placeholder="password" style="margin-left:-98px; margin-top:1px;">
                     <button class="btn btn-info btn-block login" type="submit">Login</button>
                 </form>
             </div>

         </div>

        } *@

}