@model IEnumerable<ConsumeWebServices.Models.Product>

@{
    ViewBag.Title = "ClientVue";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}



@section testprod {
    @foreach (var item in Model)
    {
        <div class="col-md-4 product-men">
            <div class="men-pro-item simpleCart_shelfItem">
                <div class="men-thumb-item">
                    <img src="~/ClientStyle/images/m2.jpg" alt="">
                    <div class="men-cart-pro">
                        <div class="inner-men-cart-pro">
                            <a href="single.html" class="link-product-add-cart">Quick View</a>
                        </div>
                    </div>
                    <span class="product-new-top">New</span>

                </div>
                <div class="item-info-product ">
                    <h4>
                        <a href="single.html"> @Html.DisplayFor(modelItem => item.Description)</a>
                    </h4>
                    <div class="info-product-price">
                        <del>promotion</del>
                    </div>
                    <div class="A">
                        <form action="#" method="post">
                            <fieldset>
                                <input type="hidden" name="item_name" value=" @Html.DisplayFor(modelItem => item.Description)" />
                            </fieldset>
                            <a href="@Url.Action("AffecterProductToBasket", "Product", new { id = item.id})" class="btn btn-info"><i class="fa fa-pencil"></i> Add to Card</a>

                        </form>
                    </div>

                </div>
            </div>
        </div>
    }
}

@section scripts{
    <script>
        $(function () {
            var successMessage = '@TempData["SuccessMessage"]'
            if (successMessage != '')
                alertify.confirm(successMessage);
        });
    </script>
}


@section mortadhacard{


     <a href="@Url.Action("GetBasketProducts", "Product")" >
        <span class="fa fa-cart-arrow-down" aria-hidden="true"></span> check Basket
        </a>

}
    }
