@model ConsumeWebServices.Models.CardDetails
@{
    ViewBag.Title = "Create";
}

<h2>Veuillez insérer les données relatives a votre carte de paiement</h2>


<div class="form-body">

    @using (Html.BeginForm())
    {

        <br>
        <br>
        <br>
        <div class="form-group">
            @Html.LabelFor(model => model.number)
            @Html.EditorFor(model => model.number)
            @Html.ValidationMessageFor(model => model.number)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.expMonth)
            @Html.EditorFor(model => model.expMonth)
            @Html.ValidationMessageFor(model => model.expMonth)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.expYear)
            @Html.EditorFor(model => model.expYear)
            @Html.ValidationMessageFor(model => model.expYear)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.cvc)
            @Html.EditorFor(model => model.cvc)
            @Html.ValidationMessageFor(model => model.cvc)
        </div>

        <div class="form-group">
            <input type="submit" value="Submit" class="btn btn-primary" />
            <input type="reset" value="Reset" class="btn button" />
        </div>
    }
</div>

@section scripts{
    @Scripts.Render("~/bundles/jqueryval");
}
