@model IEnumerable<ConsumeWebServices.Models.Basket>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

}
<br />

<body>
    just a test

    <p>
        <a href="@Url.Action("AddOrEdit","Basket")" class="btn btn-default"><i class="fa fa-plus"></i> Create New</a>
    </p>
    <table class="table table-striped">
        <thead class="table-heading">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.nameBasket)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.id)
                </th>
                <th>Actions</th>
                <th>blaaa</th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nameBasket)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id)
        </td>
        <td>
            <a href="@Url.Action("AddOrEdit", "Basket", new { id = item.id})" class="btn btn-info"><i class="fa fa-pencil"></i>  Edit</a>
            <a onclick="Delete(@item.id)" class="btn btn-default"><i class="btn btn-danger"></i>  Delete</a>

        </td>
        <td>
            <a href="@Url.Action("Index", "Product", new { id = item.id})" class="btn btn-success"><i class="fa fa-pencil"></i>pass a command</a>

        </td>
    </tr>
        }

    </table>
</body>
