@model IEnumerable<finalPidev.Models.Product>


@{
    ViewBag.Title = "Index";
}

<h2>List of products</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameProduct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.priceProduct)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameProduct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.priceProduct)
            </td>


            <td>
                <a href="@Url.Action("AffecterProductToBasket", "Product", new { id = item.id})" class="btn btn-success"><i class="fa fa-pencil"></i>Ajouter Au panier</a>


                @Html.ActionLink("Details", "ProductDetails", new { id = item.id })

            </td>
        </tr>
    }

</table>
<div class="card-body">
    @if (Session["FullName"] != null)
    {

        <p>user_id: @Session["FullName"]</p>


    }

    <p>this is user id: @Session["FullName"]</p>


    }
    @if (Session["homsName"] != null)
    {
        <p>this is basket id : @Session["homsName"]</p>


    }
</div>