@model ConsumeWebServices.Models.User
@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_Login.cshtml";
}
<h2>Sign Up</h2>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.idUser)

<div class="wrap-input100 validate-input" data-validate="Password is required">
    @Html.EditorFor(model => model.firstName)

    @Html.LabelFor(model => model.firstName, new { @style = "margin-left:-98px; margin-top:1px;" })
    @Html.ValidationMessageFor(model => model.firstName)
</div>

<div class="wrap-input100 validate-input" data-validate="Password is required">
    @Html.EditorFor(model => model.lastName)

    @Html.LabelFor(model => model.lastName, new { @style = "margin-left:-98px; margin-top:1px;" })
    @Html.ValidationMessageFor(model => model.lastName)
</div>

<div class="wrap-input100 validate-input" data-validate="Password is required">
    @Html.EditorFor(model => model.telNum)

    @Html.LabelFor(model => model.telNum, new { @style = "margin-left:-100px; margin-top:1px;" })
    @Html.ValidationMessageFor(model => model.telNum)
</div>

<div class="wrap-input100 validate-input" data-validate="Password is required">
    @Html.EditorFor(model => model.address)

    @Html.LabelFor(model => model.address, new { @style = "margin-left:-98px; margin-top:1px;" })
    @Html.ValidationMessageFor(model => model.address)
</div>
<div class="wrap-input100 validate-input" data-validate="Password is required">
    @Html.EditorFor(model => model.mail)

    @Html.LabelFor(model => model.mail, new { @style = "margin-left:-110px; margin-top:1px;" })
    @Html.ValidationMessageFor(model => model.mail)
</div>
<div class="wrap-input100 validate-input" data-validate="Password is required">
    @Html.EditorFor(model => model.login)

    @Html.LabelFor(model => model.login, new { @style = "margin-left:-110px; margin-top:1px;" })
    @Html.ValidationMessageFor(model => model.login)
</div>

<div class="wrap-input100 validate-input" data-validate="Password is required">
    @Html.EditorFor(model => model.password)
    @Html.LabelFor(model => model.password, new { @style = "margin-left:-98px; margin-top:1px;" })
    @Html.ValidationMessageFor(model => model.password)
</div>
    <form action="@Url.Action("Register", "Register")">
        <button type="submit" class="submit" />sign up
    </form>
}
    @section something {
        <h2>Sign In</h2>
        <label>
            <span>Email Address</span>
            <input type="email" name="email">
        </label>
        <label>
            <span>Password</span>
            <input type="password" name="password">
        </label>
        <form action="@Url.Action("Dashboard", "Admin")">
            <button type="submit" class="submit" />sign in
        </form>

        <p class="forgot-pass">Forgot Password ?</p>

        <div class="social-media">
            <ul>
                <li><img src="~/ClientStyle/login_register/images/facebook.png"></li>
                <li><img src="~/ClientStyle/login_register/images/twitter.png"></li>
                <li><img src="~/ClientStyle/login_register/images/linkedin.png"></li>
                <li><img src="~/ClientStyle/login_register/images/instagram.png"></li>
            </ul>
        </div>
    }