@model IEnumerable<ConsumeWebServices.Models.Product>
@{
    ViewBag.Title = "GetBasketProducts";
    Layout = "~/Views/Shared/_Footer.cshtml";
}
<h2>ahlaa</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameProduct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.priceProduct)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameProduct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.priceProduct)
            </td>


            <td>
                <a href="@Url.Action("AffecterProductToBasket", "Product", new { id = item.id})" class="btn btn-success"><i class="fa fa-pencil"></i>Ajouter Au panier</a>


                @Html.ActionLink("Details", "ProductDetails", new { id = item.id })

            </td>
        </tr>
    }

</table>

@section table {

    <h4>
        Your shopping cart contains:
        <span> @Session["count"].ToString() Products</span>
    </h4>
    <div class="table-responsive">
        <table class="timetable_sub">
            <thead>
                <tr>
                    <th>Product Code</th>
                    <th>Product Name</th>
                    <th>Product Price</th>
                    <th>Quantity</th>
                    <th>Remove From Basket    </th>
                    <th> Total Price : @Session["basketprice"].ToString()</th>

                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tbody>
                    <tr class="rem1">
                        <td class="invert">
                            @Html.DisplayFor(modelItem => item.Code)
                        </td>
                        <td class="invert">
                            @Html.DisplayFor(modelItem => item.NameProduct)
                        </td>
                        <td class="invert">
                            @Html.DisplayFor(modelItem => item.priceProduct)

                        </td>
                        <td class="invert">
                            @Html.DisplayFor(modelItem => item.quantity)
                        </td>
                        <td class="invert">


                            <a onclick="Delete(@item.id)" class="btn btn-default"><i class="btn btn-danger"></i>  Delete</a>


                        </td>
                    </tr>
                    <tr>
                    </tr>


                </tbody>
            }
        </table>


    </div>


}



@section makepayment{

    <div class="checkout-right-basket">
        <a href="@Url.Action("Create", "Customers")">
            Make a Payment
            <span class="fa fa-hand-o-right" aria-hidden="true"></span>
        </a>
    </div>

}

<a href="@Url.Action("Create", "Customers")" class="btn btn-success"><i class="fa fa-pencil"></i>procéder au paiement</a>


@section scripts{
    <script>
        $(function () {
            var successMessage = '@TempData["SuccessMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
        });

        function Delete(id) {
            alertify.confirm('Consommi Tounsi','Are You Sure to Delete this Product From Your Basket ?',function(){
                window.location.href  = '@Url.Action("Delete","Product")/'+id;
            },null );
        }
    </script>
}

