@model IEnumerable<ConsumeWebServices.Models.Product>
@{
    ViewBag.Title = "GetBasketProducts";
    Layout = "~/Views/Shared/_Footer.cshtml";
}
<h2>ahlaa</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Code)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NameProduct)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.priceProduct)
        </th>

        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NameProduct)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.priceProduct)
            </td>


            <td>
                <a href="@Url.Action("AffecterProductToBasket", "Product", new { id = item.id})" class="btn btn-success"><i class="fa fa-pencil"></i>Ajouter Au panier</a>


                @Html.ActionLink("Details", "ProductDetails", new { id = item.id })

            </td>
        </tr>
    }

</table>

@section table {
  

        <div class="table-responsive">
            <table class="timetable_sub">
                <thead>
                    <tr>

                        <th>Product</th>
                        <th>Quality</th>
                        <th>Product Name</th>

                        <th>Price</th>
                        <th>Remove</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="rem1">
                            <td class="invert">1</td>
                            <td class="invert-image">
                                @Html.DisplayFor(modelItem => item.NameProduct)

                            </td>
                            <td class="invert">
                                <div class="quantity">
                                </div>
                            </td>
                            <td class="invert">Spotzero Spin Mop</td>
                            <td class="invert">$888.00</td>
                            <td class="invert">
                                <div class="rem">
                                    <div class="close1"> </div>
                                </div>
                            </td>
                        </tr>
                    }

                    </tbody>
            </table>
        </div>

    


    }

    <a href="@Url.Action("Create", "Customers")" class="btn btn-success"><i class="fa fa-pencil"></i>procéder au paiement</a>


